<h2>Investimentos</h2>
<hr>
<form action="{{url_for('salvar, id=id')}}">
    <fieldset>
        <legend>Lançamento de novos ativos</legend>
        <label for="name">Nome do ativo:</label>
        <input type="text">

        <label for="compras">Quantidade comprada:</label>
        <input type="number">

        <label for="pre_med">Preço Médio(R$):</label>
        <input type="number" step="0.1">

        <label for="pre_atu">Preço Atual(R$):</label>
        <input type="number" step="0.1">

        <button>Salvar</button>
    </fieldset>
</form>